/* Importação da font lato*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Estilos Gerais */
body{
    font-family: 'Lato', sans-serif;
}
img {
    width: 100%;
}
.hidden {
    display: none;
}

/* Mobile  */

    /* HEADER */
    .header {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        align-items: center;
        height: 82px;
    }
    
    .header .header__logo {
        display: flex;
        width: 20px;
        height: 20px;
    }

        .header .header__logo img {
            width: 20px;
        }

        .header .header__logo figcaption {
            margin-left: 10px;
        }


    .header .menu{}

        .header .menu__list{
            /* display: flex; */ 
        }

            /* Para alinhar os items podemos utilizar o flex no PAI(UL) ou inline-block no li (transformar um elemento block em inline)*/

            .header .menu__list .menu__item{
                padding: 0 8px;
                display: inline-block;
            }  

                .header .menu__list .menu__item a{}   

                    .header .menu__list .menu__item a img{
                        width: 20px;
                    }   
    /* SECTION BANNER */
    .banner-promotional {}

    /* SECTION TITLE CATEGORY */
    .main {

    }
        .main__section-category{
            display: flex;
            justify-content: space-between;
            padding: 16px;
            align-items: center;
        }
           .main__section-category .main__title{ 
                font-size: 1.2em;
                text-transform: uppercase;
            }
            .main__section-category .main__qtd-products{ 
                font-size: 1em;
            }

/* Desktop  */
@media screen and (min-width: 800px){

    /* HEADER */
    .header {
        padding: 0px 30px;
        height: 94px;
    }
    .header .header__logo img {
        width: 25px;
        height: 25px;
    }
    .header .header__logo figcaption {
        font-size: 1.5em;
    }
    .header .menu__list .menu__item a img {
        width: 25px;

    }
    
    .main__section-category{
        padding: 30px;

    }
       .main__section-category .main__title{ 
            font-size: 2em;
            text-transform: uppercase;
        }
        .main__section-category .main__qtd-products{ 
            font-size: 1.5em;
        }

}