/* Importação da font lato*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Corres */

 /* 
    #5CA720
    #161616
    #A5A1A1
    #F9F9F9
 */


body{
    font-family: 'Lato', sans-serif;
}
img {
    width: 100%;
}
.hidden {
    display: none;
}
/* Mobile  */

    .header {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        align-items: center;
    }
    
    .header .header__image {
        display: flex;
        width: 20px;
        height: 20px;
    }

        .header .header__image img {
            width: 20px;

        }

        .header .header__image figcaption {}


    .header .menu{}

        .header .menu__list{
            display: flex;
        }

            .header .menu__list .menu__item{
                padding: 0 8px;

            }  

                .header .menu__list .menu__item a{}   

                    .header .menu__list .menu__item a img{
                        width: 20px;
                    }   


/* Desktop  */
@media screen and (min-width: 800px){

}